<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @comment.title %>
</p>

<p>
  <b>Comment text:</b>
  <%= @comment.comment_text %>
</p>

<p>
  <b>Ticket:</b>
  <%= @comment.ticket_id %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
